ips_wsdl/ESB/DMAManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns1="http://net.jetsennet" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://JetsenNet/JDMA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://JetsenNet/JDMA/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://JetsenNet/JDMA/">
			<xsd:element name="dmaObjInsert">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="objType" nillable="true" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="objXml" nillable="true" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dmaObjInsertResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:WSResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dmaObjDelete">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="objType" nillable="true" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="keyId" nillable="true" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dmaObjDeleteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:WSResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="userAuth" type="ns1:UserAuthHeader"/>
			<xsd:element name="authHeader" type="ns1:UserAuthHeader"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://net.jetsennet">
			<xsd:complexType name="WSResult">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="errorCode" type="xsd:int"/>
					<xsd:element minOccurs="0" name="errorString" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="resultVal" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UserAuthHeader">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="userToken" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="dmaObjInsertResponse">
		<wsdl:part name="parameters" element="tns:dmaObjInsertResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="dmaObjInsertRequestHeaders">
		<wsdl:part name="userAuth" element="tns:userAuth">
    </wsdl:part>
	</wsdl:message>	
	<wsdl:message name="dmaObjDeleteRequest">
		<wsdl:part name="parameters" element="tns:dmaObjDelete">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="dmaObjDeleteResponse">
		<wsdl:part name="parameters" element="tns:dmaObjDeleteResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="dmaObjInsertRequest">
		<wsdl:part name="parameters" element="tns:dmaObjInsert">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="dmaObjDeleteRequestHeaders">
		<wsdl:part name="userAuth" element="tns:userAuth">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DMAManagerService">
		<wsdl:operation name="dmaObjInsert">
			<wsdl:input name="dmaObjInsertRequest" message="tns:dmaObjInsertRequest">
    </wsdl:input>
			<wsdl:output name="dmaObjInsertResponse" message="tns:dmaObjInsertResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="dmaObjDelete">
			<wsdl:input name="dmaObjDeleteRequest" message="tns:dmaObjDeleteRequest">
    </wsdl:input>
			<wsdl:output name="dmaObjDeleteResponse" message="tns:dmaObjDeleteResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DMAManagerServiceHttpBinding" type="tns:DMAManagerService">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="dmaObjInsert">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="dmaObjInsertRequest">
				<wsdlsoap:body use="literal"/>
				<wsdlsoap:header message="tns:dmaObjInsertRequestHeaders" part="userAuth" use="literal">
        </wsdlsoap:header>
			</wsdl:input>
			<wsdl:output name="dmaObjInsertResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="dmaObjDelete">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="dmaObjDeleteRequest">
				<wsdlsoap:body use="literal"/>
				<wsdlsoap:header message="tns:dmaObjDeleteRequestHeaders" part="userAuth" use="literal">
        </wsdlsoap:header>
			</wsdl:input>
			<wsdl:output name="dmaObjDeleteResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DMAManagerService">
		<wsdl:port name="DMAManagerServiceHttpPort" binding="tns:DMAManagerServiceHttpBinding">
			<wsdlsoap:address location="http://localhost:8080/cctv7/services/DMAManagerService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
